<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    
    <!-- Site Title -->
    <title> {{ page.full_name }} - Resume</title>
    
    <meta name="description" content="Creative Resume Template">
    <meta name="keywords" content="berg, creative, resume, template">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
    <!-- Font icons CSS -->
    <link href="assets/plugins/icons-mind/style.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- Plugins CSS -->
    <link href="assets/plugins/jpreloader/css/jpreloader.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/animate-css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/flexSlider/flexslider.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/morphext/morphext.css" rel="stylesheet" type="text/css">
    
    <!-- Main CSS -->
    <link href="assets/css/berg.css" rel="stylesheet" type="text/css">

    <!-- Page Color CSS -->
    <link href="assets/css/colors/{{ page.page_template_color }}.css" rel="stylesheet" type="text/css">
    
    <!-- Custom CSS -->
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">

    <!-- Light or Dark CSS -->
    <link href="assets/css/colors/{{ page.light_or_dark }}.css" rel="stylesheet" type="text/css">

    
    

    
    <!-- Color CSS -->
    <!--<link href="assets/css/colors/green.css" rel="stylesheet" type="text/css">-->
    
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
    <script src="assets/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>

{{ content }}

    
    
    <!-- Plugins JS -->
    <script src="assets/plugins/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/jpreloader/js/jpreloader.min.js"></script>
    <script src="assets/plugins/detectmobilebrowser/detectmobilebrowser.js"></script>
    <script src="assets/plugins/debouncer/debouncer.js"></script>
    <script src="assets/plugins/easing/jquery.easing.min.js"></script>
    <script src="assets/plugins/sticky/jquery.sticky.js"></script>
    <script src="assets/plugins/inview/jquery.inview.min.js"></script>
    <script src="assets/plugins/matchHeight/jquery.matchHeight-min.js"></script>
    <script src="assets/plugins/magnificPopup/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/flexSlider/jquery.flexslider-min.js"></script>
    <script src="assets/plugins/countTo/jquery.countTo.js"></script>
    <script src="assets/plugins/morphext/morphext.min.js"></script>
    <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    
    <!-- Text Rotator JS -->
    <script src="assets/js/text-rotator.js"></script>

    <!-- Filterable Portfolio JS -->
    <script src="assets/js/filterable-portfolio.js"></script>
    
    <!-- Animation JS (Optional) -->
    <script src="assets/js/animation.js"></script>

</body>

</html>